.footer{
    padding:96px 0;
    &-waper{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 80px;
    }
    &-logo-des{
        font-weight: 500;
        font-size:18px;
        line-height:32px;
        color: rgba(47, 35, 79, 0.5);
    }
    &-item{
        margin-top:40px;
        list-style: none;
        padding-left:0
    }
    &-heading{
        color: rgba(47, 35, 79, 1);
        margin-bottom:24px;
    }
    &-list-view-item{
        display:flex;
        margin-top:16px;
    }
    &-list-view-waper{
        padding-left: 16px;
        font-size:14px;
        line-height:32px;
        color:rgba(47, 35, 79, 1);
    }
    &-price{
        font-size:14px;
        font-weight:bold;
        color: $primary-color;
    }
    &-list-info{
        list-style: none;
        &-des{
            margin-top:24px;
            font-size:18px;
            line-height:32px;
            color: rgba(47, 35, 79, 1);
        }
        &-item{
            margin-top:16px;
            & span {
                color: black;
                font-weight:400;
            }
        }
    }
    @include maxW(1025px){
        &-waper{
            grid-gap: 10px;
        }

        
        

    } 
    @include maxW(736px){
        &-waper{
            display: grid;
            grid-template-columns: repeat(1,1fr);
            grid-gap: 30px;
        }
        
    } 
    @include maxW(376px){
        
        
    } 
}