.recant{
    &-heading{
        color:$primary-color;
        
        text-align:center;
        margin-bottom: 24px;
    }
    &-des{
        font-size:18px;
        line-height:32px;
        color: rgba(47, 35, 79, 0.8);
        max-width: 1008px;
        text-align:center;
        margin-bottom:67px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    &-cand{
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
    }
    &-item{
        display: flex;
        padding:16px;
    
        justify-content: space-between;
        margin: 0 -30px;
    }
    &-img{
        object-fit: contain;
        max-height:377px;
        max-width: 592px;
        padding:0 10px;
        border-radius:8px;
        overflow: hidden;
        cursor: pointer;
        &:hover{
           
        }
        // margin:0 15px;
        img{
            display: inline-block;
            min-width:350px;
            min-height: 100%;
            border-radius:8px;
            display: inline-block;
            overflow: hidden;
            
        }
    }
    &-content{
        max-width: 592px;
        padding:43px 42px;
        background-color:#F6F3FF;
        margin:0 15px;
        &-heading{
            font-size:28px;
            font-weight:700;
            line-height:42px;
            color:$primary-color;
            margin-bottom: 16px;
        }
        &-des{
            font-size:14px;
            font-weight: 700;
            line-height: 26px;
            margin-bottom: 20px;
        }
        &-price{
            line-height: 63px;
            font-size: 42px;
            font-weight: 600;
            color:rgba(47, 35, 79, 1);
            margin-bottom:auto;
            
        }
    }
    &-button{
        
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        margin:80px 0;
    }
    .flex-row{
        flex-direction: row;
    }
    .flex-row-res{
        flex-direction: row-reverse;
    }
    @include maxW(1025px){
        
        &-content{
            
            &-heading{
                font-size:20px;
                font-weight:700;
                line-height:38px;
            }
            &-des{
                font-size:10px;
                margin-bottom: 20px;
            }
            &-price{
                line-height: 43px;
                font-size: 32px;
                margin-bottom:auto;
                
            }
        }
    } 
    @include maxW(736px){
        padding:30px 0;

        .flex-row{
            flex-direction: column;
        }
        .flex-row-res{
            flex-direction:column;
        }
        &-item{
           
            margin: 0;
        }
        &-img{
            padding:10px;
            margin-bottom:20px ;
            display:flex;
            justify-content:center;
            img{
                padding:10px 0;
                max-width: 95%;
                
                min-width:20px;
            }
        }
        &-button{
            margin:40px 0;
        }
        &-item{
            
            padding:0px;
        
        }
        &-img{
            padding:0px;
        }

    } 
    @include maxW(376px){
        
        
    } 
}