$primary-color:rgba(127, 87, 241, 1);
$secondary-color:rgba(47, 35, 79, 0.8);
$while-color:rgba(255, 255, 255, 1);
$dark-color:rgba(0, 0, 0, 0.15);
$gary:rgba(47, 35, 79, 0.8);
$primary-front: 'Dosis', sans-serif;
$secondary-front:"Inter", sans-serif;